body {
  font-family: sans-serif;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor; /* підхоплює колір тексту */
}

.icon.red {
  fill: crimson;
}

.icon.blue {
  fill: steelblue;
}
