/* src/index.css */

/* Fonts from Figma */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

:root {
  /* Colors */
  --color-primary-blue: #3470ff;
  --color-button-hover: #0b44cd;
  --color-primary-black: #121417;
  --color-secondary-grey: rgba(18, 20, 23, 0.5);
  --color-secondary-lightgrey: rgba(18, 20, 23, 0.2);
  --color-secondary-extralightgrey: rgba(18, 20, 23, 0.1);
  --color-background: #f8f8f8;
  --color-white: #ffffff;

  /* Font Weights */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;

  /* Other */
  --transition-duration: 250ms;
  --transition-timing-function: ease-in-out;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  color: var(--color-primary-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
